package {{modelPackage}}.repository

import {{basePackage}}.storage.entity.{{classname}}Entity
import org.springframework.data.jpa.repository.JpaRepository
import java.util.*

internal interface {{classname}}Repository : JpaRepository<{{classname}}Entity, UUID> {

}