{{#isContainer}}{{^isPrimitiveType}}{{^isEnum}}
    {{/isEnum}}{{/isPrimitiveType}}{{/isContainer}}{{!

}}{{^isContainer}}{{^isPrimitiveType}}{{^isNumber}}{{^isUuid}}{{^isDateTime}}
    {{/isDateTime}}{{/isUuid}}{{/isNumber}}{{/isPrimitiveType}}{{/isContainer}}