
    @Comment("{{{title}}}")
    @Column(name = "{{#lambda.snakecase}}{{name}}{{/lambda.snakecase}}"){{#isEnum}}
    @Enumerated(EnumType.STRING){{/isEnum}}
    {{>modelMutable}} {{{name}}}: {{!
    }}{{#isEnum}}{{!
        }}{{#isArray}}{{baseType}}<{{/isArray}}{{classname}}.{{{nameInPascalCase}}}{{#isArray}}>{{/isArray}}{{!
    }}{{/isEnum}}{{!
    }}{{^isEnum}}{{{dataType}}}{{/isEnum}} = domain.{{{name}}}{{#isUuid}}.takeIf { it != UUID(0L, 0L) }{{/isUuid}}
