
    @OneToMany(mappedBy = "{{#lambda.camelcase}}{{{classname}}}{{/lambda.camelcase}}", cascade = [CascadeType.ALL])
    {{>modelMutable}} {{{name}}}: {{{baseType}}}<{{{complexType}}}Entity> = domain.{{{name}}}.map { {{{complexType}}}Entity(it) }.toList()