
    @Schema(description = "{{{description}}}")
    {{>modelMutable}} {{{name}}}: {{!
    }}{{#isEnum}}{{!
        }}{{#isArray}}{{baseType}}<{{/isArray}}{{classname}}.{{{nameInPascalCase}}}{{#isArray}}>{{/isArray}}{{!
    }}{{/isEnum}}{{!
    }}{{^isEnum}}{{{dataType}}}{{/isEnum}}? = domain.{{{name}}}