internal class {{classname}}Entity(domain: {{classname}}) : AuditEntity<{{classname}}>(domain) {
{{#requiredVars}}
    {{^vendorExtensions.x-custom-properties.isInherit}}{{>dataClassReqVar}}
    {{/vendorExtensions.x-custom-properties.isInherit}}
{{/requiredVars}}
{{#optionalVars}}
    {{^vendorExtensions.x-custom-properties.isInherit}}{{>dataClassOptVar}}
    {{/vendorExtensions.x-custom-properties.isInherit}}
{{/optionalVars}}

}
