internal class {{classname}}Entity(domain: {{classname}}) : AuditEntity<{{classname}}>(domain) {
    /* 필수 필드 부분 */{{!
}}{{#requiredVars}}{{!
}}{{^vendorExtensions.x-custom-properties.isInherit}}{{^isModel}}{{^isContainer}}
{{!   }}{{>dataClassReqVar}}{{/isContainer}}{{/isModel}}{{/vendorExtensions.x-custom-properties.isInherit}}{{!
}}{{/requiredVars}}

    /* Optional 필드 부분 */
{{#optionalVars}}
    {{^vendorExtensions.x-custom-properties.isInherit}}{{^isModel}}{{^isContainer}}{{!
        }}{{>dataClassOptVar}}{{/isContainer}}{{/isModel}}{{/vendorExtensions.x-custom-properties.isInherit}}{{!
}}{{/optionalVars}}

    /* Collection / Object 부분 */
{{#requiredVars}}
    {{^vendorExtensions.x-custom-properties.isInherit}}{{!
        }}{{#isModel}}{{!
            }}{{>dataClassReqVarModdel}}{{/isModel}}{{!
        }}{{#isContainer}}{{^isPrimitiveType}}{{^isEnum}}{{!
            }}{{>dataClassReqVarCollection}}{{/isEnum}}{{/isPrimitiveType}}{{/isContainer}}{{/vendorExtensions.x-custom-properties.isInherit}}{{!
}}{{/requiredVars}}


    override fun domainInstance(): {{classname}} = {{classname}}(
{{#requiredVars}}{{^vendorExtensions.x-custom-properties.isInherit}}{{^isModel}}{{^isContainer}}{{>dataClassReqArg}}{{/isContainer}}{{/isModel}}{{/vendorExtensions.x-custom-properties.isInherit}}{{/requiredVars}}{{!
}}{{#optionalVars}}{{^vendorExtensions.x-custom-properties.isInherit}}{{^isModel}}{{^isContainer}}{{>dataClassReqArg}}{{/isContainer}}{{/isModel}}{{/vendorExtensions.x-custom-properties.isInherit}}{{/optionalVars}}{{!
}}    )

}
