
    @Comment("{{{description}}}"){{#isEnum}}
    @Enumerated(EnumType.STRING){{/isEnum}}
    {{>modelMutable}} {{{name}}}: {{!
    }}{{#isEnum}}{{!
        }}{{#isArray}}{{baseType}}<{{/isArray}}{{classname}}.{{{nameInPascalCase}}}{{#isArray}}>{{/isArray}}{{!
    }}{{/isEnum}}{{!
    }}{{^isEnum}}{{{dataType}}}{{/isEnum}}? = domain.{{{name}}}