package {{modelPackage}}.{{#lambda.camelcase}}{{classname}}{{/lambda.camelcase}}.entity

import org.hibernate.annotations.Comment
import jakarta.persistence.*

{{#models}}
{{#model}}
{{>dataClass}}
{{/model}}
{{/models}}
