{{#models}}
{{#model}}
{{#isSample}}{{>sampleClass}}{{/isSample}}{{!
}}{{#isFixture}}{{>fixtureClass}}{{/isFixture}}{{!
}}{{^isSample}}{{^isFixture}}{{>dataClass}}{{/isFixture}}{{/isSample}}
{{/model}}
{{/models}}