package {{package}}

import java.util.Objects
{{#swagger2AnnotationLibrary}}
import io.swagger.v3.oas.annotations.media.Schema
{{/swagger2AnnotationLibrary}}
{{#swagger1AnnotationLibrary}}
import io.swagger.annotations.ApiModelProperty
{{/swagger1AnnotationLibrary}}

{{#models}}
{{#model}}
{{>dataClass}}
{{/model}}
{{/models}}
