package {{package}}

{{#imports}}import {{import}}
{{/imports}}
{{#reactive}}
import kotlinx.coroutines.flow.Flow
{{/reactive}}
interface {{classname}}Store {
    fun save{{classname}}(domain: {{classname}}): {{classname}}
    fun read{{classname}}(id: UUID): {{classname}}
    fun delete{{classname}}(id: UUID): Boolean
    fun readPage(request: {{classname}}ReadPageQdo): OffsetElements<{{classname}}>
}

