package {{basePackage}}.aggregate.{{#lambda.camelcase}}{{classname}}{{/lambda.camelcase}}.store

interface {{classname}}Store {
    fun save{{classname}}(domain: {{classname}}): {{classname}}
    fun read{{classname}}(id: UUID): {{classname}}
    fun delete{{classname}}(id: UUID): Boolean
    fun readPage(qdo: {{classname}}ReadPageQdo): OffsetElements<{{classname}}>
}

