package {{basePackage}}.aggregate.store

import {{basePackage}}.spec.domain.{{classname}}
import {{basePackage}}.spec.dto.{{classname}}ReadPageQdo
import {{basePackage}}.spec.dto.base.OffsetElements
import java.util.*

interface {{classname}}Store {
    fun save{{classname}}(domain: {{classname}}): {{classname}}
    fun read{{classname}}(id: UUID): {{classname}}
    fun delete{{classname}}(id: UUID): Boolean
    fun readPage(qdo: {{classname}}ReadPageQdo): OffsetElements<{{classname}}>
}

