package {{basePackage}}.aggregate.{{#lambda.camelcase}}{{classname}}{{/lambda.camelcase}}.service

import org.springframework.stereotype.Service
import org.springframework.transaction.annotation.Transactional
import java.util.*

@Service
class {{classname}}Service(
    private val {{#lambda.camelcase}}{{{classname}}}Store{{/lambda.camelcase}}: {{classname}}Store,
) {

    @Transactional
    fun create{{{classname}}}(request: {{{classname}}}CreateQdo): {{{classname}}} {
        val createDomain = {{{classname}}}(request)
        return {{#lambda.camelcase}}{{{classname}}}{{/lambda.camelcase}}Store.save{{{classname}}}(createDomain)
    }

    @Transactional
    fun modify{{{classname}}}(id: UUID, request: {{{classname}}}ModifyQdo): {{{classname}}} {
        val {{#lambda.camelcase}}{{{classname}}}{{/lambda.camelcase}} = {{#lambda.camelcase}}{{{classname}}}{{/lambda.camelcase}}Store.read{{classname}}(id)
        {{#lambda.camelcase}}{{{classname}}}{{/lambda.camelcase}}.modify{{classname}}(request)
        return {{#lambda.camelcase}}{{{classname}}}{{/lambda.camelcase}}Store.save{{{classname}}}({{#lambda.camelcase}}{{{classname}}}{{/lambda.camelcase}})
    }

    @Transactional(readOnly = true)
    fun read{{{classname}}}(id: UUID): {{{classname}}} {
        return {{#lambda.camelcase}}{{{classname}}}{{/lambda.camelcase}}Store.read{{{classname}}}(id)
    }

    @Transactional(readOnly = true)
    fun readPage(dto: {{{classname}}}ReadPageQdo): OffsetElements<{{{classname}}}> {
        return {{#lambda.camelcase}}{{{classname}}}{{/lambda.camelcase}}Store.readPage(dto)
    }

}